.login-container {
  margin: 15% 35%
}

.login-container div {
  margin: 20px;
}

.login-container input {
  width: 250px;
  height: 25px;
}

.inner-login {
  padding: 20px;
  border: solid 2px black;
}