$navbar_bg : #333;
$font_color: white;
$li_hover_color: #8e9fff;

.navbar {
  font-size: 25px;
  list-style-type: none;
  width: 100vw;
  color: $font_color;
  font-weight: 300;
  background-color: $navbar_bg;
  letter-spacing: 2px;
  padding: 15px 0;
  margin:0 auto;
  text-align: center;
  height: 65px;


  li{
    display: inline-block;
    margin-right : 60px;
    a {
      text-decoration: none;
      user-select: none;
    }
    a:visited{
      color: $font_color;
    }
  }
  li:hover{
    border-bottom: 2px  solid $li_hover_color;

  }
}