$margin_val : 5px;

.center-login {
  margin: 18% 40%;
  h1, h2, h3 {
    font-style: italic;
  }
  button{
    margin-left: 15%
  }
}

.review-container {
  padding: 15px;
  label, button{
    margin-right: $margin_val;
    margin-left: $margin_val;
  }
}
