.center-login {
  margin: 18% 40%
}
.center-login h1, h2, h3 {
  font-style: italic;
}
.center-login button {
  margin-left: 15%
}
.review-container {
  padding: 15px;
}
.review-container label, button {
  margin-right: 5px;
  margin-left: 5px;
}